<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleBot.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SimpleBot.Settings>
            <setting name="GitToken" serializeAs="String">
                <value>42</value>
            </setting>
            <setting name="ObsWebsocketUrl" serializeAs="String">
                <value>ws://10.0.0.2:4455</value>
            </setting>
            <setting name="ObsWebsocketPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitchClientId" serializeAs="String">
                <value>a4lltinre0n377a7l8mb4pd3g2odym</value>
            </setting>
            <setting name="TwitchBotUsername" serializeAs="String">
                <value>SimpieBot</value>
            </setting>
            <setting name="TwitchOAuthBot" serializeAs="String">
                <value>C:\Users\SimpleVar\Desktop\oauth_simpiebot</value>
            </setting>
            <setting name="TwitchOAuth" serializeAs="String">
                <value>C:\Users\SimpleVar\Desktop\oauth_simplevar</value>
            </setting>
            <setting name="UserDataFolder" serializeAs="String">
                <value>C:\Users\SimpleVar\Desktop\SimpleBot user data</value>
            </setting>
            <setting name="Channel" serializeAs="String">
                <value>SimpleVar</value>
            </setting>
            <setting name="CommandsPrefix" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="SneakyJapanRound" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="enable_all_SimpleVar_systems" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="obs_enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="active_window_tracking_enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SR_minDuration_inSeconds" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SR_maxDuration_inSeconds" serializeAs="String">
                <value>5400</value>
            </setting>
            <setting name="SR_maxSongsInQueuePerUser" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SR_maxVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SR_volume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MaxFollowGreetingsPerEveryFewSeconds_negativeMeansNoLimit"
                serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="LastMainFormPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LastMainFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="EnableMediaHotkeys" serializeAs="String">
                <value>True</value>
            </setting>
        </SimpleBot.Settings>
    </userSettings>
</configuration>